<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Site Title</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div class="container">
		<div class="row">
			<header class="header span-4">
				<div class="logo-title">
					<a href="#" title="Site Title">
						<img src="assets/avatar.png" />
					</a>
					<a href="#" title="Site Title">
						<h1>SITE TITLE</h1>
					</a>
				</div>
				<nav class="nav">
					<ul>
						<li><a href="#" title="Home">Home</a></li>
						<li><a href="#" title="About">About</a></li>
						<li><a href="#" title="Blog">Blog</a></li>
						<li><a href="#" title="Contact">Contact</a></li>
					</ul>
				</nav>
				<aside class="aside">
					<h3>About Title</h3>
					<p>Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Cras ut hendrerit nunc. Etiam ut viverra lacus.</p>
					<div class="social">
						<a href="#" title="Social Network">
							<img src="assets/social/twitter.svg" />
						</a>
						<a href="#" title="Social Network">
							<img src="assets/social/rss.svg" />
						</a>
						<a href="#" title="Social Network">
							<img src="assets/social/linkedin.svg" />
						</a>
						<a href="#" title="Social Network">
							<img src="assets/social/youtube.svg" />
						</a>
						<a href="#" title="Social Network">
							<img src="assets/social/google.svg" />
						</a>
						<a href="#" title="Social Network">
							<img src="assets/social/facebook.svg" />
						</a>
					</div>
				</aside>
			</header>
			
			<section class="section span-8">
				<article class="article">
					<h2><a href="#" title="Cras dictum, urna ut luctus vulputate">CRAS DICTUM, URNA UT LUCTUS VULPUTATE</a></h2>
					<p>Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Etiam ut viverra lacus.</p>
					<a href="#" title="Read more">Read more &rarr;</a>
					<img src="assets/img.jpg" width="400" height="400" />
					<footer class="footer meta">
						<div class="left">
							<small class="category">Category: <a href="#" title="cars">cars</a></small>
							<small class="tags">Tags: <a href="#" title="yellow">yellow</a>, <a href="#" title="red">red</a></small>
						</div>
						<div class="right">
							<small class="time">Posted<time>20th January 2014</time></small>
						</div>
					</footer>
				</article>
				<article class="article">
					<h2><a href="#" title="Cras dictum, urna ut luctus vulputate">Cras dictum, urna ut luctus vulputate</a></h2>
					<p>Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Etiam ut viverra lacus.</p>
					<a href="#" title="Read more">Read more &rarr;</a>
					<img src="assets/img.jpg" width="400" height="400" />
					<footer class="footer meta">
						<div class="left">
							<small class="category">Category: <a href="#" title="cars">cars</a></small>
							<small class="tags">Tags: <a href="#" title="yellow">yellow</a>, <a href="#" title="red">red</a></small>
						</div>
						<div class="right">
							<small class="time">Posted<time>20th January 2014</time></small>
						</div>
					</footer>
				</article>
				<article class="article">
					<h2><a href="#" title="Cras dictum, urna ut luctus vulputate">Cras dictum, urna ut luctus vulputate</a></h2>
					<p>Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Etiam ut viverra lacus.</p>
					<a href="#" title="Read more">Read more &rarr;</a>
					<img src="assets/img.jpg" width="400" height="400" />
					<footer class="footer meta">
						<div class="left">
							<small class="category">Category: <a href="#" title="cars">cars</a></small>
							<small class="tags">Tags: <a href="#" title="yellow">yellow</a>, <a href="#" title="red">red</a></small>
						</div>
						<div class="right">
							<small class="time">Posted<time>20th January 2014</time></small>
						</div>
					</footer>
				</article>
				<footer class="footer">
					<p>
					<a href="#" class="left" title="Newer">&larr; Newer</a>
					<a href="#" class="right" title="Older">Older &rarr;</a>
					</p>
				</footer>
				
			</section>
		
			<footer class="footer span-12">
				<p>Site Title | 2014</p>
			</footer>
		</div>
	</div>
</body>
</html>