				<footer class="footer">
					<p>
						<a href="#" class="left" title="Newer">&larr; Newer</a>
						<a href="#" class="right" title="Older">Older &rarr;</a>
					</p>
				</footer>
				
			</section>
		
			<footer class="footer span-12">
				<p>Site Title | 2014</p>
			</footer>
		</div>
	</div>
	{% include basekit.bodyScript %}
</body>
</html>