<!doctype html>
<html lang="{{ page.seoLang }}">

	<head>
		{% include "head.twig" %}
		
		{% include basekit.headScript %}
		
	</head>

	<body class="{{ page.backgroundClass }} {{ site.colorSwatch }}" {{ isV10sSite ? 'id="migrated-site"' : '' }}>

		<div class="container">
			<div class="row">

				{% include "header.twig" %}
				
				<section class="section span-8">

					{% block content %}
					{% endblock %}

				</section>

				{% include "footer.twig" %}

			</div>
		</div>

		<script type="text/javascript">
			!function() {
				function supportsSVG() {
					return !!document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect
				}
				if (supportsSVG()) document.documentElement.className += ' svg'
			}()
		</script>

		{% include basekit.bodyScript %}

	</body>
</html>
