@import "@{templateCommon}/basekit-bootstrap.less";

// Flynn grid
@import "flynn/reset.less";
@import "flynn/grid.less";
//@import "flynn/type.less";

@color-swatch1: #647172; // Background colour
@color-swatch2: #3b8288; // Accent colour
@color-swatch3: #336366; // Dark accent colour
@color-swatch4: #c2c8c6; // Light accent colour
@color-swatch5: #666666; // Copy colour
@color-swatch6: #ffffff; // Block background colour
@color-swatch7: #596565; // Block shadow colour

body {
	font-family: @font-swatch4-font-family;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

// Structure
.header, .article {
	padding: 20px;
	margin-top: 30px;
	background: @color-swatch6;
	box-shadow: 10px 10px 0 @color-swatch7;
	float: left;
}
.header {
	.logo-title {
		text-align: center;
		img {
			width: 100px;
			height: 100px;
			border-radius: 100%;
			border: 2px solid @color-swatch2;
			margin-top: -40px;
		}
	}
}
.footer {
	clear: both;
	text-align: center;
	> p a {
		color: @color-swatch6;
		font-size: 1.2em;
		text-shadow: 0 1px 0 @color-swatch7;
	}
	small a {
		color: @color-swatch1;
		font-size: inherit;
	}
	p {
		color: @color-swatch4;
		text-shadow: 0 1px 0 @color-swatch7;
	}
}
.article {
	position: relative;
	overflow: hidden;
	padding-right: 440px;	
	img {
		position: absolute;
		top: 0;
		right: 0;
	}
}
// Globals
a {
	color: @color-swatch2;
}
.left {
	text-align: left;
	float: left;
}
.right {
	text-align: right;
	float: right;
}
// Navigation
.nav {
	margin-bottom: 1em;
	li {
		border-bottom: 1px solid @color-swatch4;
		margin-left: 0;
	}
	a {
		font-family: @font-swatch1-font-family;
		font-size: 1.2em;
		font-weight: 400;
		line-height: 2em;
	}
	ul {
		list-style: none;
	}
}
.social {
	padding-top: 1em;
	a {
		padding: .2em;
		display: inline-block;
	}
}
// Type
h1 {
	color: @color-swatch2;
	font-weight: 400;
}
h2, h2 a {
	font-family: @font-swatch1-font-family;
}
h2 a {
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.4em;
}
h3 {
	font-family: @font-swatch4-font-family;
	color: @color-swatch3;
	font-size: 1.2em;
	font-weight: 400;
	padding-bottom: .1em;
}
h4 {
}
h5 {
	
}
h6 {
	
}
p, small {
	font-size: 1em;
	font-weight: 300;
	text-shadow: 0 1px 1px fadeout(@color-swatch4, 50%);
}
small {
	font-size: .8em;
	color: @color-swatch4;
	text-shadow: none;
}
// Design specific

// Reponsive
@media (max-width: 767px) {
	.left, .right {
		text-align: left;
		float: none;
	}
	.footer {
		> p a {
			margin: 0 1em;
		}
	}
	.article {
		padding: 20px;
		img {
			position: relative;
			display: block;
			margin: 0 auto;
		}
	}
}
